<table>
<tr>
<th>name</th>
<th>location</th>
</tr>
</thead>

<tbody>
<% @farms.each do |farm| %>
<tr>
<td> <%= link_to farm.name, farm_path(farm)%> </td>
<td> <%= link_to farm.location, farm_path(farm)%> </td>
</td>
</tr>
<% end %>
</body>
</table>

