// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table {
    width: auto;
    text-align:center;
    margin-left:auto; 
    margin-right:auto;
}


.butt{
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        box-shadow: 0 8px 16px 0  white, 0 6px 20px 0 white;
        border-radius: 12px;
        align-items: center;
        justify-content: center;  
}

