<table>
<tr>
<th>Name</th>
<th>Crop</th>
<th>Created Time</th>
<th>Updated Time</th>
</tr>
</thead>
<tbody>
<% @fields.each do |field| %>
<tr>
<td> <%= link_to field.name, field_path(field)%> </td>
<td> <%= link_to field.crop, field_path(field)%> </td>
<td> <%= link_to field.created_at, field_path(field)%> </td>
<td> <%= link_to field.updated_at, field_path(field)%> </td>
</td>
</tr>
<% end %>
</body>
</table>